body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('9.jpg');
  background-size: cover;
  background-position: center;
  margin: 0; /* Remove default margin */
}
.container h1{
  color: #fff;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* signup styling */
.signup-container {
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;

  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
}

.signup-form input {
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: transparent;
  color: #fff;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #00004d;
  color: white;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  
}

.signup-form button:hover {
  background-color: #00001a;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
  color: #ccc;
}

.login-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(251, 251, 251); /* Added text color */
}

.login-link:hover {
  text-decoration: underline;
}
/* login styling */
.login-container {
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;

  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;

}

.login-form input {
  width: 90%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: transparent;
  color: #fff;

  
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #00004d;
  color: white;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #00001a;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
  color: #ccc;
}

.signup-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(251, 251, 251); /* Added text color */
}

.signup-link:hover {
  text-decoration: underline;
}

/* ---------------------------- */
/* login-container */
.login-container:hover{
  border-color: #fff;
  animation: border-glow 1s infinite alternate;
}

@keyframes border-glow{
  from{
      border-color: #f6f8f6;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  to{
      border-color: #ffffff;
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}
/* signup-container */
.signup-container:hover{
  border-color: #fff;
  animation: border-glow 1s infinite alternate;
}

@keyframes border-glow{
  from{
      border-color: #f6f8f6;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  to{
      border-color: #ffffff;
      box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

/* home page */
.homepage button {
  width: 50%;
  padding: 10px;
  background-color: #00004d;
  color: white;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  margin-left:20%;
}
.homepage button:hover {
  background-color: #007ad8;
}
.homepage h1{
  color: #fff;
  margin-left: 20%;
  margin-right: 20%;
}
/* footer */

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 1;
  width: 100%;
  padding: 20px 100px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.navbar-nav {
  display: flex;
  list-style: none;
  justify-content: flex-end; /* Align items to the right */
}

.nav-item {
  margin: 0 50px;
}

.nav-item a {
  font-size: large;
  color: white;
  text-decoration:none
}

.nav-item a:hover {
  text-decoration: underline;
}
